<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <style>

    body {
      width: 100%;
      height: 100vh;
      margin: 0;
      background-image: url('css/boisko.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  </style>

    <script>
    var currentPath = window.location.pathname;
    var newUrl = window.location.href.replace(currentPath, "/");
    history.replaceState({}, document.title, newUrl);
</script>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Klub piłkarski</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <div><b><p style="font-size:30px">Błąd!</p></b></div>
                    <div><p style="font-size:24px">Taka operacja nie jest możliwa!</p></div>
                </div>
                <a class="btn btn-primary" th:href="@{${#httpServletRequest.isUserInRole('ADMIN')} ? '/main_admin' : '/main_user'}">Wróć do panelu</a>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>