<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bilety</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <!-- Dodaj dodatkowe arkusze stylów lub skrypty, jeśli są wymagane -->

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">BDBT Spring Boot Project - Part II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- Dodaj dowolne elementy nawigacyjne, jeśli są wymagane -->
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <!-- Page header -->
    <h1 class="text-center">Tabela z biletami</h1>

    <!-- Entry to new page -->
    <div class="text-center">
        <a class="btn btn-primary" href="/newBilet">Dodaj nowy bilet</a>
    </div>
    <br/>

    <!-- Table -->
    <table class="table table-bordered table-hover">
        <!-- Table headers -->
        <thead class="thead-dark">
        <tr>
            <th>Numer biletu</th>
            <th>Rodzaj biletu</th>
            <th>Cena</th>
            <th>Data</th>
            <th>Numer klubu</th>
            <th>Numer kibica</th>
            <th>Numer meczu</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <!-- Iteracja przez bilety i wyświetlanie ich informacji -->
        <tr th:each="bilet : ${listBilety}">
        <tr th:each="bilet : ${listBilety}">
            <td th:text="${bilet.nr_biletu}">Numer biletu</td>
            <td th:text="${bilet.rodzaj_biletu}">Rodzaj biletu</td>
            <td th:text="${bilet.cena}">Cena</td>
            <td th:text="${bilet.data}">Data meczu</td>
            <td th:text="${bilet.nr_klubu}">Numer klubu</td>
            <td th:text="${bilet.nr_kibica}">Numer kibica</td>
            <td th:text="${bilet.nr_meczu}">Numer meczu</td>
            <td>
                <a class="btn btn-warning" th:href="@{'/editBilet/' + ${bilet.nr_biletu}}">Edytuj</a>
                <a class="btn btn-danger" th:href="@{'/deleteBilet/' + ${bilet.nr_biletu}}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Przycisk powrotu do strony main w zależności od roli użytkownika -->
    <div class="text-center">
        <a class="btn btn-secondary" th:href="@{${#httpServletRequest.isUserInRole('ADMIN')} ? '/main_admin' : '/main_user'}">Wróć</a>
    </div>
</div>

<!-- Dodaj dodatkowe skrypty, jeśli są wymagane -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<!-- Dodaj dodatkowe skrypty, jeśli są wymagane -->

</body>
</html>
