<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Edytuj dane kibica</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            min-height: 100vh;
            background-image: url('/css/boisko.jpg'); /* Upewnij się, że ścieżka jest poprawna */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

    </style>
    <script>
        var currentPath = window.location.pathname;
        var newUrl = window.location.href.replace(currentPath, "/");
        history.replaceState({}, document.title, newUrl);
    </script>
</head>
<body>
<div align="center" class="container mt-5">
    <h1>Edycja danych kibica</h1>
    <br/>
    <form th:action="@{/updateKibic}" th:object="${kibice}" method="post">
        <table class="table" cellpadding="10">
            <tr>
                <td>Numer kibica</td>
                <td><input type="text" th:field="*{nr_kibica}" readonly="readonly"> </td>
            </tr>
            <tr>
                <td>Imie</td>
                <td><input type="text" th:field="*{imie}" required> </td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td><input type="text" th:field="*{nazwisko}" required> </td>
            </tr>
            <tr>
                <td>PESEL</td>
                <td><input type="text" th:field="*{PESEL}" required> </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{email}" required> </td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td><input type="text" th:field="*{telefon}" required> </td>
            </tr>

            <tr>
                <td>Data urodzenia</td>
                <td><input type="date" th:field="*{data_urodzenia}" required> </td>
            </tr>
            <tr>
                <td>Numer klubu</td>
                <td><input type="text" th:field="*{nr_klubu}" required> </td>
            </tr>
            <tr>
                <td>Numer adresu</td>
                <td><input type="text" th:field="*{nr_adresu}" required> </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary" type="submit">Zapisz</button>
                    <a th:href="@{/kibice}" class="btn btn-secondary">Anuluj</a>
                </td>
            </tr>
        </table>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
