<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Nowy mecz</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>

<div align="center" class="container mt-5">
    <h1>Dodaj nowy mecz</h1>
    <br/>

    <form action="#" th:action="@{/saveMecz}" th:object="${mecze}" method="post">
        <table class="table" cellpadding="10">

            <tr>
                <td>Numer meczu:</td>
                <td><input type="text" th:field="*{nr_meczu}" name="nr_meczu"></td>
            </tr>

            <tr>
                <td>Drużyna przeciwna:</td>
                <td><input type="text" th:field="*{druzyna_przeciwna}" name="druzyna_przeciwna"></td>
            </tr>

            <tr>
                <td>Data:</td>
                <td><input type="text" th:field="*{data}" name="data"></td>
            </tr>

            <tr>
                <td>Godzina:</td>
                <td><input type="text" th:field="*{godzina}" name="godzina"></td>
            </tr>

            <tr>
                <td>Imię sędziego:</td>
                <td><input type="text" th:field="*{imie_sedziego}" name="imie_sedziego"></td>
            </tr>

            <tr>
                <td>Nazwisko sędziego:</td>
                <td><input type="text" th:field="*{nazwisko_sedziego}" name="nazwisko_sedziego"></td>
            </tr>

            <tr>
                <td>Wynik:</td>
                <td><input type="text" th:field="*{wynik}" name="wynik"></td>
            </tr>

                <td>Numer klubu:</td>
                <td><input type="text" th:field="*{nr_klubu}" name="nr_klubu"></td>
            </tr>

            <tr>
                <td>Numer stadionu:</td>
                <td><input type="text" th:field="*{nr_stadionu}" name="nr_stadionu"></td>

            </tr>

            <tr>
                <td colspan="2">
                    <div class="button-container">
                        <button class="btn btn-primary" type="submit">Zapisz</button>
                        <a th:href="@{/mecze}" class="btn btn-secondary">Anuluj</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
