<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Nowy kibic</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>

<div align="center" class="container mt-5">
    <h1>Dodaj nowego kibica</h1>
    <br/>

    <form action="#" th:action="@{/saveKibic}" th:object="${kibice}" method="post">
        <table class="table" cellpadding="10">

            <tr>
                <td>Numer kibica:</td>
                <td><input type="text" th:field="*{nr_kibica}" name="nr_kibica"></td>
            </tr>

            <tr>
                <td>Imie kibica:</td>
                <td><input type="text" th:field="*{imie}" name="imie"></td>
            </tr>

            <tr>
                <td>Nazwisko kibica:</td>
                <td><input type="text" th:field="*{nazwisko}" name="nazwisko"></td>
            </tr>

            <tr>
                <td>PESEL:</td>
                <td><input type="text" th:field="*{PESEL}" name="PESEL"></td>
            </tr>

            <tr>
                <td>Email kibica:</td>
                <td><input type="text" th:field="*{email}" name="email"></td>
            </tr>

            <tr>
                <td>Telefon kibica:</td>
                <td><input type="text" th:field="*{telefon}" name="telefon"></td>
            </tr>

            <tr>
                <td>Data urodzenia kibica:</td>
                <td><input type="text" th:field="*{data_urodzenia}" name="data_urodzenia"></td>
            </tr>

            <tr>
                <td>Numer adresu:</td>
                <td><input type="text" th:field="*{nr_adresu}" name="nr_adresu"></td>
            </tr>

            </tr>

            <tr>
                <td colspan="2">
                    <div class="button-container">
                        <button class="btn btn-primary" type="submit">Zapisz</button>
                        <a th:href="@{/kibice}" class="btn btn-secondary">Anuluj</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
