<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Nowy pracownik</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <style>

    body {
      width: 100%;
      height: 100vh;
      margin: 0;
      background-image: url('css/boisko.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  </style>
    <script>
    var currentPath = window.location.pathname;
    var newUrl = window.location.href.replace(currentPath, "/");
    history.replaceState({}, document.title, newUrl);
</script>
</head>
<body>

<div align="center" class="container mt-5">
    <h1>Dodaj nowego pracownika </h1>
    <br/>

    <form action="#" th:action="@{/savePracownik}" th:object="${pracownicy}" method="post">
        <table class="table" cellpadding="10">

            <tr>
                <td>Numer pracownika:</td>
                <td><input type="text" th:field="*{nr_pracownika}" name="nr_pracownika"></td>
            </tr>

            <tr>
                <td>Imie pracownika:</td>
                <td><input type="text" th:field="*{imie}" name="imie"></td>
            </tr>

            <tr>
                <td>Nazwisko pracownika:</td>
                <td><input type="text" th:field="*{nazwisko}" name="nazwisko"></td>
            </tr>

            <tr>
                <td>PESEL:</td>
                <td><input type="text" th:field="*{PESEL}" name="PESEL"></td>
            </tr>

            <tr>
                <td>Płeć:</td>
                <td><input type="text" th:field="*{plec}" name="plec"></td>
            </tr>

            <tr>
                <td>Telefon służbowy pracownika:</td>
                <td><input type="text" th:field="*{telefon_sluzbowy}" name="telefon_sluzbowy"></td>
            </tr>

            <tr>
                <td>Obywatelstwo pracownika:</td>
                <td><input type="text" th:field="*{obywatelstwo}" name="obywatelstwo"></td>
            </tr>

            <tr>
                <td>Data urodzenia pracownika:</td>
                <td><input type="text" th:field="*{data_urodzenia}" name="data_urodzenia"></td>
            </tr>

            <tr>
                <td>Data zatrudnienia pracownika:</td>
                <td><input type="text" th:field="*{data_zatrudnienia}" name="data_zatrudnienia"></td>
            </tr>

            <tr>
                <td>Email pracownika:</td>
                <td><input type="text" th:field="*{email}" name="email"></td>
            </tr>

            <tr>
                <td>Data zwolnienia pracownika:</td>
                <td><input type="hidden" th:field="*{data_zwolnienia}" name="data_zwolnienia"></td>
            </tr>

            <tr>
                <td>Numer klubu:</td>
                <td><input type="text" th:field="*{nr_klubu}" name="nr_klubu"></td>
            </tr>

            <tr>
                <td>Numer stadionu:</td>
                <td><input type="text" th:field="*{nr_stadionu}" name="nr_stadionu"></td>

            <tr>
                <td>Numer stanowiska:</td>
                <td><input type="text" th:field="*{nr_stanowiska}" name="nr_stanowiska"></td>
            </tr>

            <tr>
                <td>Numer adresu:</td>
                <td><input type="text" th:field="*{nr_adresu}" name="nr_adresu"></td>
            </tr>

            </tr>

            <tr>
                <td colspan="2">
                    <div class="button-container">
                        <button class="btn btn-primary" type="submit">Zapisz</button>
                        <a th:href="@{/pracownicy}" class="btn btn-secondary">Anuluj</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
